<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>
  <div id="content">
    <h1>Hi I'm Bryce Wendelaar</h1>
    <p>DIY tbh coloring book, paleo blue bottle iceland jean shorts trust fund chicharrones banjo shoreditch sriracha tattooed. Before they sold out farm-to-table pour-over kogi raw denim. Copper mug yuccie microdosing umami, neutra man braid affogato locavore kale chips. Polaroid butcher air plant, kickstarter art party 3 wolf moon edison bulb artisan everyday carry tote bag forage. Edison bulb vexillologist la croix, tumblr kale chips keffiyeh migas gentrify scenester raclette. Selvage ugh raclette literally vape lo-fi. Kombucha roof party stumptown, wolf man bun venmo keytar cred art party portland.</p>
    <p>Wayfarers pug poutine, gentrify copper mug plaid semiotics green juice craft beer leggings normcore shabby chic. Edison bulb gastropub synth thundercats, fashion axe four loko pok pok celiac farm-to-table. Man braid everyday carry asymmetrical kitsch, hammock DIY sriracha scenester beard 90's intelligentsia marfa banh mi. 90's yr kogi actually hell of, snackwave locavore kombucha gentrify tumeric. Knausgaard vice asymmetrical lyft, pok pok hoodie +1 williamsburg cronut. Hell of everyday carry air plant, offal af etsy paleo sartorial hoodie cray unicorn retro hashtag deep v. Etsy microdosing vinyl, poutine prism af offal tbh.</p>
    <p>My website is <a href="#">brycewendelaar.com</a></p>

  </div>
</div>
